<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<div class="wrapper">
	<div class="header3">
		<nav>
		
			<div class="logo"> TrungTH </div>
			<div class="menu-icon">
			 <span class="glyphicon glyphicon-fire" aria-hidden = "true"></span>
		</div>
			<ul>
				<li><%= link_to 'Edit', edit_post_path(@post),:class=>"login" %></li>

				<li><%= link_to 'Destroy', post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, :class=>"login" %>
				</li>
				
				<li><%= link_to "Back", root_path, :class=>"login"%></li>

				<% if user_signed_in? %>
				  <li>
				  <%= link_to('Log out', destroy_user_session_path, method: :delete, :class=>"login") %>  

				  </li>
				<% else %>
				  <li>
				  <%= link_to('Log in', new_user_session_path, :class=>"login")  %>  
				  </li>

				<% end %>
				
			</ul>
		</nav>
	</div>
	</div>

<h1>SHOW POST</h1>

<h2 class="title">
<%= @post.title %> 
</h2>

<p class="description">
	<%= @post.description %>
</p>

<p class="time">
	Submited <%= time_ago_in_words(@post.created_at) %> Ago 

</p>

</body>
</html>